.container{
    text-align: center;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 2px solid grey;
    border-radius: 20px;
    height: 65;
    width: 54;
}
button{
    border: 2px solid lightblue;
    border-radius: 21px;
    font-size: 40;
    color: white;
    background-color: blue;
    width: 102px;
    height: 58px;
    margin: 6px;
}
.calculator{
    background-color: lightseagreen;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    border: 2px solid black;
}
h1{
    color: blue;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}